*{
  margin: 0;
  padding: 0;
  
}

.work-sans{
  font-family: "Work Sans", sans-serif;
  font-style: normal;
}

nav .nev-contain{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 120px;
}
nav .nev-contain img{
  height: 64px;
  width: 139px;
}
nav .nev-contain .nav-link ul{
  display: flex;
  list-style: none;
  gap: 32px;
}
nav .nev-contain .nav-link ul a{
  font-size: 16px;
  color: #000000;
  text-decoration: none;
  font-weight: 500;
}
nav .nev-contain button{
  height: 44px;
  width: 164px;
  padding: 12px 16px;
  border-radius: 4px;
  border: none;
  font-size: 16px;
  font-weight: 600;
  background-color: #469165;
  color: #FFFFFF;
}